
body, html
{
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    background-image: url("./image/1.jpg");
    background-size: cover;

}

audio {
    outline: none;
}

.main-content {
    display: flex;
    justify-content: center;
    height: 900px;
    perspective: 700px;
    font-size: 700%;
    font-weight: bold;
    line-height: 150%;
    text-align: justify;
    margin-top: 300px;
}
.content {
    position: relative;
    top: -200px;
    transform-origin: 50% 100%;
    animation: scroll 30s linear;
    animation-iteration-count: infinite;
}
.content  h1, h2  {
    line-height: 1.3em;
    text-align: center;
}
.content p {
    line-height: 1.3em;
}
@keyframes scroll {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}